.listContainer {
  color: rgb(43, 43, 43);
  background-color: rgb(29, 29, 29);
  padding: 0.25em;
}

.listItem :global(.vtex-button) {
  color: white;
  background-color: rgb(29, 29, 29);
  border: transparent;
}

.listItem :global(.vtex-button):hover {
  color: whitesmoke;
  background-color: rgb(109, 108, 108);
  border: transparent;
}
